RewriteEngine On

#----------
#client

#home
RewriteRule ^home$ /index.php [L]

#about
RewriteRule ^about$ index.php?controller=about

#success
RewriteRule ^success$ index.php?controller=success

#contact
RewriteRule ^contact$ index.php?controller=contact

#search
RewriteRule ^search$ index.php?controller=search

#sell
RewriteRule ^sell$ index.php?controller=sell
RewriteRule ^sell/add$ index.php?controller=sell&action=add
RewriteRule ^sell/do_add$ index.php?controller=sell&action=do_add
RewriteRule ^sell/edit/([0-9]+)$ index.php?controller=sell&action=edit&id=$1
RewriteRule ^sell/do_edit/([0-9]+)$ index.php?controller=sell&action=do_edit&id=$1
RewriteRule ^sell/delete/([0-9]+)$ index.php?controller=sell&action=delete&id=$1

#product
RewriteRule ^product$ index.php?controller=product
RewriteRule ^product/([0-9]+) index.php?controller=product&id=$1&type=list
RewriteRule ^product-detail/([0-9]+) index.php?controller=product&id=$1&type=detail

#news
RewriteRule ^news$ index.php?controller=news
RewriteRule ^news/([0-9]+) index.php?controller=news&id=$1&type=list
RewriteRule ^news-detail/([0-9]+) index.php?controller=news&id=$1&type=detail

#----------
#auth

#logout
RewriteRule ^admin/logout$ admin.php?controller=logout&type=auth

#login
RewriteRule ^login$ admin.php?controller=login&type=auth

#register
RewriteRule ^register$ admin.php?controller=register&type=auth

#----------
#admin

RewriteRule ^admin$ admin.php

#user
RewriteRule ^admin/user$ admin.php?controller=user
RewriteRule ^admin/user/add$ admin.php?controller=user&action=add
RewriteRule ^admin/user/do_add$ admin.php?controller=user&action=do_add
RewriteRule ^admin/user/edit/([0-9]+)$ admin.php?controller=user&action=edit&id=$1
RewriteRule ^admin/user/do_edit/([0-9]+)$ admin.php?controller=user&action=do_edit&id=$1
RewriteRule ^admin/user/delete/([0-9]+)$ admin.php?controller=user&action=delete&id=$1

#category-news
RewriteRule ^admin/category-news$ admin.php?controller=categoryNews
RewriteRule ^admin/category-news/add$ admin.php?controller=categoryNews&action=add
RewriteRule ^admin/category-news/do_add$ admin.php?controller=categoryNews&action=do_add
RewriteRule ^admin/category-news/edit/([0-9]+)$ admin.php?controller=categoryNews&action=edit&id=$1
RewriteRule ^admin/category-news/do_edit/([0-9]+)$ admin.php?controller=categoryNews&action=do_edit&id=$1
RewriteRule ^admin/category-news/delete/([0-9]+)$ admin.php?controller=categoryNews&action=delete&id=$1

#news
RewriteRule ^admin/news$ admin.php?controller=news
RewriteRule ^admin/news/add$ admin.php?controller=news&action=add
RewriteRule ^admin/news/do_add$ admin.php?controller=news&action=do_add
RewriteRule ^admin/news/edit/([0-9]+)$ admin.php?controller=news&action=edit&id=$1
RewriteRule ^admin/news/do_edit/([0-9]+)$ admin.php?controller=news&action=do_edit&id=$1
RewriteRule ^admin/news/delete/([0-9]+)$ admin.php?controller=news&action=delete&id=$1

#slide
RewriteRule ^admin/slide$ admin.php?controller=slide
RewriteRule ^admin/slide/add$ admin.php?controller=slide&action=add
RewriteRule ^admin/slide/do_add$ admin.php?controller=slide&action=do_add
RewriteRule ^admin/slide/edit/([0-9]+)$ admin.php?controller=slide&action=edit&id=$1
RewriteRule ^admin/slide/do_edit/([0-9]+)$ admin.php?controller=slide&action=do_edit&id=$1
RewriteRule ^admin/slide/delete/([0-9]+)$ admin.php?controller=slide&action=delete&id=$1

#banner
RewriteRule ^admin/banner$ admin.php?controller=banner
RewriteRule ^admin/banner/add$ admin.php?controller=banner&action=add
RewriteRule ^admin/banner/do_add$ admin.php?controller=banner&action=do_add
RewriteRule ^admin/banner/edit/([0-9]+)$ admin.php?controller=banner&action=edit&id=$1
RewriteRule ^admin/banner/do_edit/([0-9]+)$ admin.php?controller=banner&action=do_edit&id=$1
RewriteRule ^admin/banner/delete/([0-9]+)$ admin.php?controller=banner&action=delete&id=$1

#category-product
RewriteRule ^admin/category-product$ admin.php?controller=categoryProduct
RewriteRule ^admin/category-product/add$ admin.php?controller=categoryProduct&action=add
RewriteRule ^admin/category-product/do_add$ admin.php?controller=categoryProduct&action=do_add
RewriteRule ^admin/category-product/edit/([0-9]+)$ admin.php?controller=categoryProduct&action=edit&id=$1
RewriteRule ^admin/category-product/do_edit/([0-9]+)$ admin.php?controller=categoryProduct&action=do_edit&id=$1
RewriteRule ^admin/category-product/delete/([0-9]+)$ admin.php?controller=categoryProduct&action=delete&id=$1

#product
RewriteRule ^admin/product$ admin.php?controller=product
RewriteRule ^admin/product/add$ admin.php?controller=product&action=add
RewriteRule ^admin/product/do_add$ admin.php?controller=product&action=do_add
RewriteRule ^admin/product/edit/([0-9]+)$ admin.php?controller=product&action=edit&id=$1
RewriteRule ^admin/product/do_edit/([0-9]+)$ admin.php?controller=product&action=do_edit&id=$1
RewriteRule ^admin/product/delete/([0-9]+)$ admin.php?controller=product&action=delete&id=$1
RewriteRule ^admin/product/view/([0-9]+)$ admin.php?controller=product&action=view&id=$1
RewriteRule ^admin/product/update_status/([0-9]+)/([0-9]+)$ admin.php?controller=product&action=update_status&id=$1&status=$2

#404
ErrorDocument 404 http://localhost/estate_web/